<!DOCTYPE html>
<html>
  <head>
  	<% if (tutorid != "") { %>
	  	<title><%= tutorid %> | Events | Backfood</title>
  	<% } else { %>
	    <title>All Events | Backfood</title>
	<% } %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<div id="header">Backfood</div>
  	
  	<% if (tutorid) {%>
		<h1>Events organised by <%=tutorid%></h1>
	<% } else { %>
	    <h1>All events</h1>
    <% } %>
    
    <ul>
	<% for(var i=0; i<events.length; i++) {%>
	   <li><a href="/event/<%=events[i]._id%>"><%= events[i].name %></a></li>
	<% } %>
	</ul>
    
	<script src="/javascripts/analytics.js" type="text/javascript"></script>
  </body>
</html>
