<!DOCTYPE html>
<html>
  <head>
    <title>Enter your name | Backfood</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <link rel='stylesheet' href='/javascripts/bootstrap/css/bootstrap.css' type="text/css" />
    <link rel='stylesheet' href='/javascripts/bootstrap/css/bootstrap-responsive.css' type="text/css" />
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
    <script src="/javascripts/bootstrap/js/bootstrap.js" type="text/javascript"></script>
  </head>
  <body>
  	<div id="header">Backfood</div>
  	
  	<div id="main" class="jumbotron">
	    
	    <form id="loginform" method="POST" action='<%= eventid ? "/registerandcheckin" : "/register"%>'>
	    
		    <label for="name">Enter your name:</label>
	    	<input type="text" name="name"/><br/>
		    
		    <input type="hidden" name="eventid" value="<%=eventid%>"/>
		    
		    <button type="submit" class="btn">Get started!</button>
		
		</form>
		
	</div>
	
	<address>This site uses cookies to control user sessions and log analytics. By continuing to use the site you agree to this.</address>
	<script src="/javascripts/analytics.js" type="text/javascript"></script>
  </body>
</html>