<!DOCTYPE html>
<html>
  <head>
    <title><%=person.name%> | Profile</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<div id="header"><em>Class</em>RATE</div>
  	
    <h1>Profile for <%=person.name%></h1>

	<a href="/edit-event/<%=person._id%>">Add a new event</a> |
	<a href="/eventlist/<%=person._id%>">View your events</a>    
    
  </body>
</html>
