a {
  color: #00B7FF;
}
#feedbacks blockquote {
  font-size: 14pt;
  font-style: italic;
  color: #333333;
}
.modal-form {
  margin-bottom: 0;
}
#header {
  font-size: 24pt;
  line-height: 1;
  font-weight: bold;
  color: #222266;
  background-color: #CCCCFF;
  padding: 10px;
  margin-bottom: 20px;
}
/** from bootstrap examples: */
.jumbotron {
  margin: 80px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 72px;
  line-height: 1;
}
.jumbotron label {
  font-size: 48px;
  line-height: 1;
}
.jumbotron .lead {
  font-size: 24px;
  line-height: 1.25;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
.view-feedback-link {
  color: green;
}
.leave-feedback-link {
  color: red;
}
ul.nav li a {
  outline: 0;
}
